<!--HEAD MODULARIZADO-->
<%- include('./partials/head.ejs')%>
    <!--HEADER MODULARIZADO-->
    <%- include('./partials/header.ejs')%>
        <div class="caja-cambio">
            <form action="/admin/edit" method="post">
                <h2 class="titulo-edit">Edita el valor</h2>
                <div class="caja-input">
                    <div class="selectCambioEntrada">
                        <div class="select" id="selectEntrada">
                            <div class="contenido-select-Entrada">
                                <span id="envia">Envia</span>
                                <h4 type="text" id="tituloOrigen" class="idOcultado" data-id="<%=mediosdepago[0].id%>">
                                </h4>
                            </div>
                            <i class="fas fa-angle-down"></i>
                        </div>
                        <div class="opciones" id="opcionesEntrada">
                            <% mediosdepago.forEach(dato=> { %>
                                <% if(dato.id !=5 && dato.id != 2 &&dato.id !=14){%>
                                    <a href="#" class="opcionEntrada">
                                        <div class="contenido-opcion">
                                            <img src="/img/img_medios_de_pagos/<%-dato.image%>.png"
                                                alt="<%-dato.nombre%>">
                                            <h4 type="text" id="tituloOrigen" class="idOcultado" data-id="<%-dato.id%>">
                                            </h4>
                                        </div>
                                    </a>
                                    <%}%>
                                        <% }) %>
                        </div>
                    </div>
                    <span class="text-danger" id="errorOrigen"></span>
                </div>
                <div class="caja-input">
                    <div class="selectCambioSalida">
                        <div class="select" id="selectSalida">
                            <div class="contenido-select-Salida">
                                <span id="recibe">Recibe</span>
                                <h4 type="text" id="tituloOrigen" class="idOcultado" data-id="<%=mediosdepago[2].id%>">
                                    Ingrese</h4>
                            </div>
                            <i class="fas fa-angle-down"></i>
                        </div>

                        <div class="opciones" id="opcionesSalida">
                            <% mediosdepago.forEach(dato=> { %>
                                <% if( dato.id!=2 && dato.id !=3 && dato.id !=5 && dato.id !=14){%>
                                    <a href="#" class="opcionSalida">
                                        <div class="contenido-opcion">
                                            <img src="/img/img_medios_de_pagos/<%-dato.image%>.png"
                                                alt="<%-dato.nombre%>">
                                            <h4 type="text" id="tituloDestino" class="idOcultado"
                                                data-id="<%-dato.id%>"></h4>
                                            </span>
                                        </div>
                                    </a>
                                    <%}%>
                                        <% }) %>
                        </div>
                        <span class="text-danger" id="errorDestino"></span>
                    </div>
                    <div>
                        <span class="text-danger" id="errorIgualdad"></span>
                    </div>
                    <div class="caja-input">
                        <label id="coeficiente" for="coeficiente" class="valor">Valor: </label>
                        <input class="coeficiente" id="coeficiente" type="number" step=".01" placeholder="$ 0.00    ">
                        <span class="text-danger" id="errorCoeficiente"></span>
                    </div>
                    <div class="caja-input">
                        <a href="/"><button type="button" class="btn btn-danger">Cancelar</button></a>
                        <button id="actualizar" type="button" class="btn btn-success">Actualizar</button>
                    </div>
                    <input type="hidden" name="origen" id="metodoOrigen" value="<%=mediosdepago[0].id%> ">
                    <input type="hidden" name="destino" id="metodoDestino" value="<%=mediosdepago[2].id%> ">
                    <span class="text-danger" id="msgError"></span>
            </form>
        </div>
        <div class="menu_link">
            <% if (typeof user !="undefined" ) { %>
              <ul class="menu_items">
                  <li><a href="/admin/listaclientes">Ver lista</a></li>
                  <li><a href="/admin/editar">Editar valores</a></li>
                  <li><a href="/admin/logout">Salir</a></li>
              </ul>
              <% }else{ %>
                  <div class="hideLink">
                      <ul class="menu_items">
                      <li><a href="/preguntas-frecuentes">Preguntas Frecuentes</a></li>
                      <li><a href="/acerca-de-nosotros">Acerca de nosotros</a></li>
                      <li><a href="/contactenos" class="contactenos">Contáctenos</a></li>
                  </ul>
                  </div>
                  
                  <% } %>
          </div>
        </div>

        <%- include('./partials/footer.ejs') %>
            <script src="/javascripts/<%=apiEdit%>"></script>