<%- include('./partials/head.ejs')%>
    <%- include('./partials/header.ejs')%>

        <div class="caja-usuario">
            <form action="" method="POST">
                <div>
                    <label for="email"><i class="far fa-user"></i></label>
                    <%if(typeof old !="undefined" && old.email){ %>
                        <input type="email" class="form-control" id="email" name="email" value="<%=old.email%>" required>
                    <%}else{%>
                        <input type="email" class="form-control" id="email" placeholder="example@gmail.com" name="email" required>
                    <%}%>
                        <small class="text-danger" id="errorEmailLogin"></small>
                </div>
                <div>
                    <label for="password"><i class="fas fa-key"></i></label>
                    <input type="password" id="password" class="form-control <%= (typeof errors != 'undefined' && errors.password)?"is-invalid":
                    '' %>" placeholder="******" name="password" required>
                    <small class="text-danger" id="errorPasswordLogin"><%= (typeof errors !="undefined" && errors.password)?errors.password.msg: "" %>
                    </small>

                </div>
                <button type="submit" id="boton" class="btn btn-primary">ENVIAR</button>
                <small class="text-danger" id="errorSubmit"></small>
            </form>
        </div>


        <%- include('./partials/footer.ejs')%>
        <script src="/javascripts/<%=loginValidation%>"></script>